.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  width: 300px;
  height: 50px;
  background-color: rgba(86, 85, 85, 0.589);
  margin: 0.5em;
  border-radius: 5px;
  text-align: center;
}

.one {
  grid-column: span 2; /* takes x columns */
  grid-row: span 1; /* takes x rows*/
  width: 780px;
}

.two {
  grid-column: span 1; /* takes x columns */
  grid-row: span 2; /* takes x rows*/
  height: 130px;
}
